{% extends 'layout.html' %}
{% block body %}
  <div class="row" id="title">
    <h1>How to enable 2FA</h1>
  </div>
  <div class="row">
    {% if secret_key %}
    <div class="six columns">
      <form action="/login/auth" method="GET">
        <div class="row">
          <ul>
            <li>Open Google Authenticator</li>
            <li>Tap on the + button</li>
            <li>Then tap on 'Enter a setup key'</li>
            <li>Type the text written below into the file 'Your key'</li>
            <li>Click Add</li>
          </ul>
        </div>
        <div class="row">
          <div class="ten columns">
            <input class="u-full-width" type="text" value="{{ secret_key }}" readonly>
          </div>
        </div>
        <div class="row">
          <div class="three columns">
            <input class="button-primary" type="submit" value="Done">
          </div>
        </div>
      </form>
    </div>
    {% else %}
    <div class="six columns">
      <form action="/login/auth" method="POST">
        <div class="row">
          <div class="six columns">
            <label for="username">Your OTP:</label>
            <input class="u-full-width" type="text" id="otp" name="otp" required>
          </div>
        </div>
        <div class="row">
          <div class="three columns">
            <input class="button-primary" type="submit" value="Verify OTP">
          </div>
        </div>
      </form>
    </div>
    {% endif %}
  </div>
{% endblock %}